body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #F5E8C7;
}


img{
    height: 90px;
    width: 321px;
    margin-left: -11px;
}


.container-fluid{
    background-color:#363062;
    border:2px solid black;
    margin-top: -8px;
    border-radius: 10px;
    
}


.custom-button:checked{
    background-color:#435585;
}


.custom-button:hover{
    background-color: black;
    border-radius: 15px;
    box-shadow: 3px 3px 7px rgb(17, 17, 17);
}



.custom-button{
    color: white;
   
    background-color:#435585;
    
}


.container-fluid1{
    height: 380px;
    width: 813.600px;
    background-color:white;
    margin-top: 80px;
    border:5px solid #435585;
    border-radius: 15px;
    padding:0px 10px 0px 10px;
    box-shadow: 5px 5px 60px rgb(67, 60, 60);
}

h1{
        text-align: center;
        font-family: poppins;
        font-weight: bold;
        color: black;
}


h4{
    font-family: poppins;
    font-weight: bold;
    color: black;
    
    
}


#user{
    height: 74px;
    width: 100%;
    background-color:white;
    margin-bottom: 20px;
}


.checkbox{
    margin-top: 20px;
}

#FP{
    display: inline;
    margin-left: 520px;
    
    
}
#FP a{
    color: black;
}


.btnone,.btntwo{
    background-color: #337ab7;
    border-radius: 5px;
    font-size: 20px;
    padding:5px 20px 5px 20px;
    margin-top: 20px;
    text-decoration: none;
}

.btnone a{
    text-decoration: none;
}


.btnone:hover{
    text-decoration: underline;
    color: white;
    background-color: #29679c;    
}


.btntwo a{
    text-decoration: none;
}


.btntwo:hover{
    text-decoration: underline;
    color: white;
    background-color: #29679c;    
}


.btns .btnone {
    margin-right:  597px; /* Adjust the value as needed */
}

.checkbox{
    color: black;
    font-family: poppins;
    font-size: large;
}
.footer{
    background-color: #9b2928;
    color: white; 
    border: 2px solid darkred;   
    font-size: 13px;
    width: 100%;
}


