@media(min-width:0px) and (max-width:400px){
    .navbar{
        height: 50px;
        width: 100%;
        background-color: #9b2928;
    }
    .navbar img{
        height: 50px;
        position: fixed;
        margin-left: 0px;
    }
    .navbar .container-fluid{
        
        margin-top: -6px;
        
    }
    
}
@media(min-width:400px) and (max-width:770px){
    .navbar{
        height: 60px;
        width: 100%;
        background-color: #9b2928;
    }
    .navbar img{
        height: 60px;
        position: fixed;
        margin-left: 0px;
    }
    .navbar .container-fluid{
        
        margin-top: -1px;
        
    }
}
@media(min-width:770px) and (max-width:990px){
    .navbar{
        height: 70px;
        width: 100%;
        background-color: #9b2928;
    }
    .navbar img{
        height: 70px;
        position: fixed;
        margin-left: -0px;
    }
    .navbar .container-fluid{
        
        margin-top: 5px;
        
    }
}
@media(min-width:990px){
    .navbar{
        height: 90px;
        width: 100%;
        background-color: #9b2928;
    }
    .navbar img{
        height: 90px;
        position: fixed;
        margin-left: 0px;
    }
}