*{
    margin: 0;
    padding:0;
}
body,html{
    /* height: 100%;
    width: 100%; */
    background-color:white;
    /* overflow: auto; */
}


img{
    height: 90px;
    width: 321px;
    margin-left: -11px;
    
}

.container-fluid{
    background-color:white;
   
    display: flex;
    justify-content: space-between;
    
}


.icons{
  display: flex;
  align-items: center;
  
}


#internet{
    text-decoration: none;
    margin-left: 20px;
    color: black;
    
}

#internet:hover{
    color: #9b2928;
}
.trust{
    height: 60px;
    width: 150px;
    margin-left: 0px;
    
}

.header1{
    height: 10px;
    background-color: #9b2928;
    
}

.index{
    display: flex;
    justify-content: space-evenly;
    
}

.index a{
    text-decoration: none;
    color: black;
    margin-top: 25px;
}

nav{
    background-color:  rgb(196, 190, 190);
    height: 80px;
    display: flex;
    flex-direction:row;
    align-items: center;
    
    
}

.btns{
    height: 55px;
    width: 150px;
    background-color: rgb(196, 190, 190);
    text-align: center;

}
.btns:hover{
    background-color: white;
}


.btns1{
    height: 55px;
    width: 150px;
    background-color: rgb(196, 190, 190);
    text-align: center;
    margin-left: 50px

}
.btns1:hover{
    background-color: white;
}
#home{
    position: relative;
    top: 12px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}


.btns2{
    height: 55px;
    width: 200px;
    background-color: rgb(196, 190, 190);
    text-align: center;
    

}
.btns2:hover{
    background-color: white;
}
#experiments{
    position: relative;
    top: 12px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.dropdown {
    display: none;
    position: absolute;
    background: rgb(233, 217, 217);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    list-style: none;
    z-index: 1;
}

.btns2:hover .dropdown {
    display: block;
}

.dropdown li{
    height: 50px;
    width: 100px;
    background-color:black ;
    color: whitesmoke;
    opacity: 0.5;
}

#list{
    background-color: black;
    opacity: 0.2;
}


#aboutus{
    position: relative;
    top: 12px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
#feedback{
    position: relative;
    top: 12px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}
#logout{
    position: relative;
    top: 12px;
    text-decoration: none;
    color: black;
    font-size: 20px;
}








#index{
    margin-top: 15px;
    margin-left: 30px;
}

.dotted-line {
    border-top: 8px dotted #9b2928; 
    width: 30%; 
    margin: 20px auto; 
  }

  .center-container {
    width: 80%; 
    height: 600px;
    margin: 0 auto; 
    background-color:#FFDEB4; 
    padding: 20px; 
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-end;
  }
  
  .container2{
    height: 400px;
    width: 60%;
    background-color: #FFDEB4;
  }

  .container2{
    text-align: center;
    font-size: 60px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .footer{
    background-color: #9b2928;
    color: white; 
    border: 2px solid darkred;   
    font-size: 13px;
    width: 100%;
}

.container2 {
    position: relative;
    text-align: center;
}

.container2 p{
    color:#9b2928 ;
}

.box{
    height: 100px;
    width: 100px;
    border: 10px solid rgb(253, 250, 251);
    opacity: 0.6;
    position: relative;
    top: -400px;
    right: -110%;
    
    animation: rotatescale1 5s linear infinite ;
}

@keyframes rotatescale1 {
    0%{
        transform: rotate(0deg) scale(0%);
    }
    50%{
        transform: rotate(180deg) scale(50%);
    }
    100%{
        transform: rotate(360deg) scale(100%);
    }
    
}

.box2{
    height: 200px;
    width: 200px;
    border: 10px solid rgb(253, 250, 251);
    opacity: 0.2;
    animation: rotatescale2 4s linear infinite  ;
    position:relative;
    top: -480px;
    left: 50%;
}

@keyframes rotatescale2 {
    0%{
        transform: rotate(360deg) scale(0%);
    }
    50%{
        transform: rotate(180deg) scale(50%);
    }
    100%{
        transform: rotate(0deg) scale(100%);
    }
    
}

.box3{
    height: 120px;
    width: 120px;
    border: 8px solid rgb(99, 27, 112);
    opacity: 0.1;
    animation: rotatescale3 8s linear infinite alternate ;
    position:relative;
    top: -500px;
    left: 15%;
}
@keyframes rotatescale3 {
    0%{
        transform: rotate(360deg) scale(0%);
    }
    50%{
        transform: rotate(90deg) scale(25%);
    }
    75%{
        transform:rotate(180deg) scale(50%) ;
    }
    100%{
        transform: rotate(0deg) scale(100%);
    }
    
}

.box4{
    height: 70px;
    width: 70px;
    border: 5px solid rgb(255, 255, 255);
    opacity: 0.3;
    animation: rotatescale4 5s linear infinite alternate ;
    position:relative;
    top: -400px;
    left: 50%;
}
@keyframes rotatescale4 {
    0%{
        transform: rotate(360deg) scale(0%);
    }
    50%{
        transform: rotate(90deg) scale(25%);
    }
    75%{
        transform:rotate(180deg) scale(50%) ;
    }
    100%{
        transform: rotate(0deg) scale(100%);
    }
    
}

.box5{
    height: 130px;
    width: 130px;
    border: 10px solid rgb(175, 41, 41);
    opacity: 0.1;
    animation: rotatescale5 6s linear infinite ;
    position:relative;
    top: -500px;
    left: -10%;
}
@keyframes rotatescale5 {
    0%{
        transform: rotate(0deg) scale(0%);
    }
  
    60%{
        transform: rotate(110deg) scale(40%);
    }
    75%{
        transform:rotate(180deg) scale(50%) ;
    }
    100%{
        transform: rotate(360deg) scale(100%);
    }
    
}


.box6{
    height: 170px;
    width: 170px;
    border: 10px solid rgb(212, 51, 131);
    opacity: 0.1;
    animation: rotatescale6 5s linear infinite alternate ;
    position:relative;
    top: -800px;
    left: 80%;
}
@keyframes rotatescale6 {
    0%{
        transform: rotate(0deg) scale(0%);
    }
  
    60%{
        transform: rotate(110deg) scale(40%);
    }
    75%{
        transform:rotate(180deg) scale(50%) ;
    }
    100%{
        transform: rotate(360deg) scale(100%);
    }
    
}

